:root {
  --container-color: #ece89d;
  --element-color: #5e5373;
  --content-color: #18b5a4;
  --color-light: #fff;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  border: 0;
}

*::before,
*::after {
  display: inline-block;
}

ul {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  height: 100%;
  overflow: hidden;
  min-height: 100%;
  padding: 50px;
}

.section:not(:last-child) {
  margin-bottom: 50px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.block-indent:not(:last-child) {
  margin-bottom: 40px;
}

.section__title {
  text-transform: uppercase;
  font-size: 80px;
  margin-bottom: 40px;
  text-align: center;
}

.block__title {
  text-transform: uppercase;
  font-size: 40px;
  margin-bottom: 20px;
}

.block__row {
  border: 20px solid var(--container-color);
  margin: 0 0 20px 0;
}

.block__column {
  border: 20px solid var(--element-color);
}

.block__item {
  background-color: var(--content-color);
  padding: 50px;
  font-size: 50px;
  color: var(--color-light);
  font-weight: 700;
}

.block__descr span {
  position: relative;
  padding-inline-start: 30px;
  padding-inline-end: 20px;
  font-size: 20px;
}

.block__descr span::before {
  content: '';

  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  width: 20px;
  aspect-ratio: 1;
}

.block__descr .block__descr-container::before {
  background-color: var(--container-color);
}

.block__descr .block__descr-element::before {
  background-color: var(--element-color);
}

.block__descr .block__descr-content::before {
  background-color: var(--content-color);
}

/* ************************************** */
/* ***** властивості flex-контейнера */

.row-block__flex {
  display: flex;
}

.row-block__inline-flex {
  display: inline-flex;
}

/* ***** властивість justify-content */

.justify-content--start {
  justify-content: start;
}

.justify-content--end {
  justify-content: end;
}

.justify-content--center {
  justify-content: center;
}

.justify-content--space-around {
  justify-content: space-around;
}

.justify-content--space-between {
  justify-content: space-between;
}

.justify-content--space-evenly {
  justify-content: space-evenly;
}

/* ***** властивість align-items */
.block__item-center {
  text-align: center;
}

.align-items--stretch {
  align-items: stretch;
}

.align-items--start {
  align-items: start;
}

.align-items--end {
  align-items: end;
}

.align-items--center {
  align-items: center;
}

/* ***** властивість wrap*/
.block__item-width {
  width: 500px;
}

.flex-wrap--nowrap {
  flex-wrap: nowrap;
}

.flex-wrap--wrap {
  flex-wrap: wrap;
}

.flex-wrap--wrap-reverse {
  flex-wrap: wrap-reverse;
}

/* ************************************** */
/* ***** властивості flex-елементів */

/* ***** властивість align-self */

.align-self--flex-start {
  align-self: flex-start;
}

.align-self--flex-end {
  align-self: flex-end;
}

.align-self--stretch {
  align-self: stretch;
}

.align-self--center {
  align-self: center;
}

/* ***** властивість align-self */

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.order-3 {
  order: 3;
}

.order-4 {
  order: 4;
}

.order-5 {
  order: 5;
}

/* ***** властивість flax-basis, flex-graw, flex-shrink */
.flex-basis--auto {
  flex-basis: auto;
}

.flex-basis--px {
  flex-basis: 400px;
}

.flex-basis--percentage {
  flex-basis: 15%;
}

.flex-shrink--0 {
  flex-shrink: 0;
}
.flex-graw--1 {
  flex-grow: 1;
}

/* ***** властивість flex-direction */

.flex-direction--row {
  flex-direction: row;
}

.flex-direction--row-reverse {
  flex-direction: row-reverse;
}

.flex-direction--column {
  flex-direction: column;
}

.flex-direction--column-reverse {
  flex-direction: column-reverse;
}
